<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="OpenCart">

	<listeners>
		<listener
			class-name="com.softserve.edu.opencart.listeners.ScreenshotAtFailTestListener" />
	</listeners>
	<!-- 3 ERROR 5 WARNING 7 INFO 9 DEBUG -->
	<test verbose="5" name="WishList Test">
		<classes>
			<!--<class name="com.softserve.edu.opencart.tests.SmokeTest" />-->
			<class name="com.softserve.edu.opencart.tests.WishListTest">
				<methods>
					<include name="redirectToLoginPageTest" />
					<include name="loginToWishListTest" />

					<include name="containsProductTest" />
					<include name="doesNotContainProductTest" />

					<include name="addRemoveTest" />
					<include name="amountTest" />

					<include name="productActionNotificationTest" />
				</methods>
			</class>
		</classes>
	</test>

</suite>
